@charset "UTF-8";
@import url(reset.css);
.clearfix:after {
    content: " "; 
    display: block; 
    height: 0; 
    clear: both; 
    visibility: hidden;
}
.clearfix {
    display: inline-block;
    min-height: 1%;
}
/* Hides from IE-mac \*/
* html .clearfix {
    height: 1%;
}
.clearfix {
    display: block;
}

.fl{
    float:left;
}

.fr{
    float:right;
}
.cl{
    clear: both; 
}
/*body {
    height:2000px;
}*/
