@charset "UTF-8";
@import url(reset.css);
.clearfix:after {
    content: " "; 
    display: block; 
    height: 0; 
    clear: both; 
    visibility: hidden;
}
.clearfix {
    display: inline-block;
    min-height: 1%;
}
/* Hides from IE-mac \*/
* html .clearfix {
    height: 1%;
}
.clearfix {
    display: block;
}

.fl{
    float:left;
}

.fr{
    float:right;
}
.cl{
    clear: both; 
}
body {
    background: #eee;
    color: #333333;
    height:2000px;
}

#center_simulator {
    position: fixed;
    bottom: 0%;
    width:100%;
    text-align:center;
    /*border: 1px solid #000000;*/
    padding:0px;
    margin:0px;
}

.input{
    margin-bottom:10px;
}