#main
{
    width: 996px;
    /*border: 1px solid #aaa;*/
    margin: 0 auto;
    /*padding:10px;*/
}

#contents .boxArea {
    margin: 0 0 0px;
}
#contents .boxArea div {
    /*width: 240px;*/
}

#contents .boxArea .box-phone-vertical{
    margin:5px;
    padding:0px 5px 5px 5px;
}

#contents .boxArea .box-phone-vertical .phone{
    margin:5px auto;
    width: 240px;
}

/*home*/
#select_box-home {
    padding: 5px;
    margin: 5px;
}

#select_box-home li{
    padding: 0;
    margin: 0;
    text-align: center;
    vertical-align: middle;
}

#select_box-home li a {
    padding: 0px;
    margin: 0px;
    display:block;
    width: 80px;
    height: 100px;
    border-left: 1px solid #CCC;
    border-right: 1px solid #CCC;
    border-bottom: 1px solid #CCC;
    color: #CCCCCC;
    font-size:30px;
    line-height:100px;
}
#select_box-home li a#select1 {
    border-top: 1px solid #CCC;
    background-color:#1b508c;
}

#select_box-home #select1:hover {background-color:#1b508c}
#select_box-home #select2:hover {background-color:#1b508c}
#select_box-home #select3:hover {background-color:#1b508c}
#select_box-home #select4:hover {background-color:#1b508c}
#select_box-home #select5:hover {background-color:#1b508c}
#select_box-home #select6:hover {background-color:#1b508c}
#select_box-home #select7:hover {background-color:#1b508c}
#select_box-home #select8:hover {background-color:#1b508c}
#select_box-home #select9:hover {background-color:#1b508c}

#contents .boxArea .box-phone-vertical table.home-display{
    text-align:center;
    margin:10px 0px;
}

#contents .boxArea .box-phone-horizon{
    margin:5px;
    padding:0px 5px 5px 5px;
}

#contents .boxArea .box-phone-horizon .phone{
    margin:5px auto;
    width: 504px;
}

#contents .boxArea .box-detail{
    margin:5px;
}

#contents .boxArea .detail0{
    width: 260px;
}

#contents .boxArea .detail1{
    width: 310px;
}

#contents .boxArea .box-sort{
    position: relative;
    margin:5px;
    padding:0px 5px 5px 5px;
    text-align:center;
}

#contents .boxArea .sort0{
    float:left;
    width: 250px;
}

#contents .boxArea .sort1{
    width: 300px;
}

#contents .boxArea .box-sort-home{
    position: relative;
    margin:5px;
    padding:0px 5px 5px 5px;
    width: 310px;
    text-align:center;
}

#contents .boxArea .box-setting{
    float: right;
    margin:5px;
}

#contents .boxArea .setting0{
    width: 440px;
}

#contents .boxArea .setting1{
    width: 460px;
}

#contents .boxArea .box-setting .embed_code {
    clear:both;
    width:350px;
    height:auto;
    border: 1px solid #CCCCCC;
    font-weight:normal;
    font-size:14px;
}

#contents .boxArea .box-setting-home{
    position: relative;
    margin:5px;
    padding:0px 5px 5px 5px;
    width: 310px;
    text-align:center;
}

#contents .boxArea .box-setting-home .embed_code {
    clear:both;
    width:240px;
    height:auto;
    border: 1px solid #CCCCCC;
    font-weight:normal;
    font-size:14px;
}

#contents .boxArea .box-manage-setting{
    width: 710px;
    margin:5px;
}
#contents .boxArea .box-manage-setting .btn{
    text-align:center;
    padding:5px;
}
#contents .boxArea .box-manage-setting .btn input{
    display:inline;
}

#contents .boxArea .box03{ float: right;}

#contents .boxArea h3 {
    color: #248cc1;
    font-size: 22px;
    font-weight: bold;
    display: block;
    text-align: center;
    padding-top:5px;
}
#contents .boxArea div p {
    padding: 5px 16px 5px;
}

#contents .boxArea .box-images
{
    margin:5px;
}

#contents .boxArea .images0
{
    width:715px;
}

#contents .boxArea .images1
{
    width:665px;
}

#contents .boxArea .image-section {
    overflow: hidden;
    margin: 0px auto;
    padding: 0px 0px 20px;
    position: relative;
}

#contents .boxArea .section0 {
    width:705px;
}

#contents .boxArea .section1 {
    width:650px;
    margin-left:15px;
}

ul#files{
    list-style:none;
    padding:0;
    margin:0;
    margin: auto;
    padding: 0;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
ul#files li{
    float:left;
    border: 1px solid #CCC;
    background: #F6F6F6;
    margin: 6px;
    padding: 6px;
}

ul#files li a{
    height:32px;
    color: #dc1501;
}

#contents .boxArea .section0 ul#files li{
    min-height: 150px;
}

#contents .boxArea .section1 ul#files li{
    min-height: 110px;
}

#contents .boxArea .info {
    overflow: hidden;
    margin: 5px 0;
    padding: 12px 16px 0px;
}

#contents .boxArea .info .item {
    margin: 10px 0;
}
#contents .boxArea .info .item .label {
    float: left;
    color: #555;
    font-size:11px;
    font-weight:bold;
    color:#215b98;
}
#contents .boxArea .info .item .plan {
    float: left;
    font-size:16px;
    font-weight:bold;
    color: #f08e02;
}
#contents .boxArea .info .item .value {
    float: right;
    font-weight: bold;
    color: #555;
    font-size:11px;
    /*max-width:318px;*/
    overflow:hidden;
    word-wrap:break-word;
}#contents .boxArea .info .item: after {
    display: block;
    clear: both;
    content: "";
}


.upgrade_prompt
{

  padding-top: 10px;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #bbbbbb;
}


.upgrade_prompt .title
{
  font-weight: bold;
  color: #8e1d06;
}

.upgrade_prompt ul li
{
  margin-bottom: 10px;
}

.upgrade_prompt ul li a
{
  font-weight: bold;
  font-size: 13px;
  color: #325376;
}

.upgrade_prompt ul li .details
{
  color: #666666;
  font-size: 12px;
}

/*action*/
.console-action{
    text-align:right;
    color:#3366cc;
    margin: 0px;
    padding: 0x;
    font-size: 12px;
}

#upload{
    text-align:center;
    color:#3366cc;
    margin: 0px;
    padding: 0x;
    position: absolute;
    right: 12px;
    bottom: 2px;
    font-size: 12px;
}

.darkbg{
    background:#ddd !important;
}
#status{
    font-family:Arial; padding:5px;
}

.success{
    background:#99f099;
    border:1px solid #339933;
}
.error{
    background:#f0c6c3;
    border:1px solid #cc6622;
}
.form_error{
    color:#cc6622;
}
/*settings*/
.settings_section .row
{
  margin-top: 14px;
  margin-right: 0px;
  margin-bottom: 14px;
  margin-left: 0px;
  clear:both;
}
.settings_section .row .label
{
  font-size: 16px;
  font-weight: bold;
  float: left;
  width: 170px;
  line-height: 24px;
}
.settings_section .row .title
{
  font-size: 16px;
  font-weight: bold;
  width: 200px;
  line-height: 24px;
}
.settings_section .row .input input[type="text"]
{
  width: 492px;
  height: 24px;
  font-size: 14px;
  color: #333333;
  padding-top: 0px;
  padding-right: 4px;
  padding-bottom: 0px;
  padding-left: 4px;
  line-height: 24px;
}

.settings_section .row .enum_set
{
  width: 500px;
  float: left;
  margin-bottom: 15px;
}

.settings_section .row .enum_set li
{
  float: left;
  width: 100px;
}

.settings_section td
{
    padding:0px 10px;
}

.settings_section .row .screenshots
{
/*    border: 1px solid #CCC;
    width: 500px;*/
}

.settings_section .row .screenshots li
{
  float: left;
  /*width: 128px;*/
  padding:2px;
  margin:2px;
  border: 1px solid #CCC;
}


/* chooseApp
--------------------------------------------------*/
#contents .chooseApp{
    margin:5px;
    /*border: 1px solid #CCC;*/
}

#contents .chooseApp .boxTemp{
    width:260px;
    text-align:center;
    border: 1px solid #CCC;
}

#contents .chooseApp .title {
    padding: 11px 0 9px;
    font-size: 20px;
    font-weight: bold;
    color: #fff;
    -webkit-border-top-left-radius: 4px;  
    -webkit-border-top-right-radius: 4px;  
    -moz-border-radius-topleft: 4px;  
    -moz-border-radius-topright: 4px;
}
#contents .chooseApp .bgFree { background: url(../img/common/bg_choose_01.jpg) repeat; }
#contents .chooseApp .bgBlue { background: url(../img/common/bg_choose_02.jpg) repeat; }
#contents .chooseApp .bgLightBlue { background: url(../img/common/bg_choose_03.jpg) repeat; }

#contents .chooseApp td {
    padding:3px 5px 3px 5px;
    text-align:left;
}

#contents .chooseApp .btn {
    margin: 12px 12px 8px;
    padding-bottom: 6px;
    border-bottom: solid 1px #eee;
}
.sort_btn {
    margin: 12px 12px 0px;
    padding-top: 6px;
    border-top: solid 1px #eee;
}
#loader{
    height:45px;
}

#loader img{
    margin-top:15px;
}