#popapps-simulator #popapps-title {
    margin-left:18px;
    width:204px;
    height:21px;
    line-height:17px;
    padding: 2px;
    font-size: 16px;
    font-weight: bold;
    color: #fff;
    -moz-border-radius-topleft: 4px;
    -webkit-border-top-left-radius: 4px;
    border-top-left-radius: 4px;
    -moz-border-radius-topright: 4px;
    -webkit-border-top-right-radius: 4px;
    border-top-right-radius: 4px;
    cursor: pointer;
    /*box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3);*/
}
#popapps-simulator #popapps-title img{
    float:left;
    padding-right:10px;
}
#popapps-simulator .bgBlue { background: url(http://simulator.813.co.jp/img/common/bg_choose_02.jpg) repeat; }

#open-btn {
    position: absolute;
    right: 20px;
    top: 3px;
    width: 20px;
    height: 20px;
    cursor: pointer;
}
#close-btn {
    position: absolute;
    right: 20px;
    top: 3px;
    width: 20px;
    height: 20px;
    cursor: pointer;
}