#iphone {
    position: fixed;
    bottom: 0px;
    left: 0px;
}
#iphone-home {
    position: fixed;
    bottom: 0px;
    left: 0px;
}
.top-box{
    position: relative;
    top:0px;
    left:-54px;/*72-18*/
}
.error-box{
    position: relative;
    top:0px;
    left:-54px;/*72-18*/
}